## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Node & Web
node_modules/
dist/
build/
.npm
.yarn/
*.log

## Flutter & Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

## OS Files
.DS_Store
Thumbs.db
